<div class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000">
  <div class="carousel-inner" role="listbox">
  	<div class="item active"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
</div>


