<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="http://www.clker.com/cliparts/d/8/o/Y/D/l/favicon-md.png" />
    {{> css}}
  </head>
  <body>
  	{{> backgroundSlider}}
  		{{> header}}
    		{{{@body}}}
    	{{> footer}}
    {{> js}}
  </body>
</html>