<div class="container">
	<div class="row">
		<div class="text-center">
			<h1>Verify</h1>
			<form action="/verify" method="post" role="form">
		    <div class="form-group">
		      <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter Verification code" style="text-align:center;">
		    </div>
		    <div class="form-group">
		    	<button type="submit" class="btn btn-primary ">Verify</button>
		    </div>
		  </form>
		</div>
	<div/>
</div>